<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletWeek01</display-name>
  
  <servlet>
  	<!-- Servlet-Class ismini doğru yazmamız çok önemli packageName.className şeklinde olmalıdır -->
  	<!-- Ctrl ye bastığımız da ilgili sınıfa erişebiliyorsak doğru yazmışızdır -->
  	<servlet-name>MyFirstServlet</servlet-name>
  	<servlet-class>_01.helloservlet.MyFirstServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<!-- Hangi Servlette karşılık mapping yapacaksak ilgili servlet-name doğru şekilde yazmamız gerekmetedir -->
  	<!-- Servler-Name Yukdarda ki ilgili name ile aynı isimde olmalıdır. -->
  	<servlet-name>MyFirstServlet</servlet-name>
  	<url-pattern>/myfirstservleturl</url-pattern>
  </servlet-mapping>
  
</web-app>